name: Test Google Sheet Connection

on:
  workflow_dispatch:
  schedule:
    - cron: "30 3 * * *"   # 9 AM IST daily

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Print success message
      run: echo "Workflow loaded successfully"
