name: Test Google Sheet Connection

on:
  workflow_dispatch:
  schedule:
    - cron: "30 3 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install requirements
      run: pip install -r requirements.txt

    - name: Install MoviePy
      run: pip install moviepy

    - name: Test MoviePy Import
      run: python -c "import moviepy; import moviepy.editor; print('MoviePy import success')"

    - name: Done
      run: echo "Finished successfully"
