name: Test Google Sheet Connection

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install FFmpeg
      run: sudo apt-get update && sudo apt-get install -y ffmpeg

    - name: Upgrade pip
      run: python -m pip install --upgrade pip setuptools wheel

    - name: Install Python dependencies
      run: pip install -r requirements.txt

    - name: Test import MoviePy
      run: python -c "import moviepy.editor as mp; print('MoviePy import success!')"
